.input_wrapper{
  padding-bottom: 5px;
  margin:14px 0;
  float:right;
}

.input_time{
  padding:7px 14px;
  width: 80px;
  border: 1px solid white;
}
.input{
  font-size: 14px;
  font-weight: bold;
  text-align: right;
  width: 28px;
}

.minus,.plus {
  margin:2px 10px;
  font-size: 25px;
  font-weight: bold;
  display: inline-block;
  cursor: pointer;  
}
.plus{
  font-size: 20px;
}
img {
  opacity: 0.8;
  position: relative;
  top:8px;
  right: 0px;
  margin-left:6px
}

.input_setting{
  display:flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  line-height: 50px;
  margin-bottom: 14px;
}