.btn_play {
  background: url(./icon/play-pause.png);
  width: 64px;
  height: 64px;
  position: relative;
  top:38px;
  left:7px
}
.btn_stop {
  background: url(./icon/play-pause.png);
  background-position: -64px 0;
  width: 64px;
  height: 64px;
  position: relative;
  top:38px;
}
.btn{
  background-color: #b1363c;
	height: 140px;
	margin: 0  auto;
	width: 140px;
  border-radius: 100%;
}