@import url('https://fonts.googleapis.com/css2?family=Lora&family=Work+Sans:wght@100&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}                        

body {
  overflow: hidden;
  font-family: 'Lora', serif;
  font-family: 'Work Sans', sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.App{
  color:white;
}                      

.Main{
  background-color: #071422;
  height: 100vh;
  min-width: 560px;
  display:flex;
  justify-content: flex-end;
}

[type="text"],[type="button"],[type="checkbox"] {
	background: none;
	color: inherit;
	border: none;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
