.count_wrapper{
  position: absolute;
  bottom: 30px;
  left: 38px;
}
.count {
  font-size: 28px;
  font-weight: bold;
}
.count_wrapper span{
  margin: 0 4px;
  text-align: justify;
  font-weight: bold;
}
.congrat{
 font-style: italic; 
 font-weight: normal;
}